In [2]:
#Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import chardet

# Leitura do arquivo

In [3]:
#Detectando a codificação do arquivo
result = ''
with open('/home/gustavo/Downloads/MG_20171016/MG/Base informaçoes setores2010 universo MG/CSV/Basico_MG.csv', 'rb') as f:
    result = chardet.detect(f.read())
print(result)

{'encoding': 'ISO-8859-1', 'confidence': 0.73, 'language': ''}

In [4]:
#Lendo os dados do IBGE
ibge_data = pd.read_csv('/home/gustavo/Downloads/MG_20171016/MG/Base informaçoes setores2010 universo MG/CSV/Basico_MG.csv', sep=';', 
                         encoding='ISO-8859-1')

# Análise descritiva

In [5]:
ibge_data.sample(10)

,Cod_setor,Cod_Grandes Regiões,Nome_Grande_Regiao,Cod_UF,Nome_da_UF,Cod_meso,Nome_da_meso,Cod_micro,Nome_da_micro,Cod_RM,...,V004,V005,V006,V007,V008,V009,V010,V011,V012,Unnamed: 33
27219,316060305000002,3,Região Sudeste,31,Minas Gerais,3106,Central Mineira,31025,Curvelo,0,...,"3,16","653,7","306477,44","694,05","297276,12","388,49","220337,9","591,98","215254,72",NaN
3275,310620005650181,3,Região Sudeste,31,Minas Gerais,3107,Metropolitana de Belo Horizonte,31030,Belo Horizonte,16,...,"1,89","1472,94","1225451,69","1472,94","1225451,69","1027,14","1125650,67","1313,78","1062465,84",NaN
19706,314080305000017,3,Região Sudeste,31,Minas Gerais,3112,Zona da Mata,31065,Juiz de Fora,0,...,8,700,0,700,0,546,94080,"682,5",1225,NaN
12464,312370005000004,3,Região Sudeste,31,Minas Gerais,3108,Vale do Rio Doce,31037,Governador Valadares,0,...,"2,38","814,28","949406,62",924,"976144,57","463,8","539714,6","783,91","661765,97",NaN
16033,313310505000022,3,Região Sudeste,31,Minas Gerais,3110,Sul/Sudoeste de Minas,31054,São Lourenço,0,...,"3,16","1031,56",1034558,"1046,73","1033889,9","604,19","559238,48","811,88","582910,22",NaN
19462,314000105000022,3,Região Sudeste,31,Minas Gerais,3107,Metropolitana de Belo Horizonte,31033,Ouro Preto,0,...,"3,5","934,46","790918,48","1036,17","771483,84","626,82","523542,76","880,25","512100,95",NaN
4151,310620005670486,3,Região Sudeste,31,Minas Gerais,3107,Metropolitana de Belo Horizonte,31030,Belo Horizonte,16,...,",99",7830,"84266777,78","9787,5","86446964,29","4003,79","44121910,1","5805,5","54011436,58",NaN
24406,315210505060042,3,Região Sudeste,31,Minas Gerais,3112,Zona da Mata,31060,Ponte Nova,0,...,"4,03","625,33","616406,72","699,53","638006,56","390,64","377073,57","685,61","460416,12",NaN
21524,314510905000010,3,Região Sudeste,31,Minas Gerais,3110,Sul/Sudoeste de Minas,31048,São Sebastião do Paraíso,0,...,"1,55","964,1","820977,61","998,36","815922,79","513,25","557090,64","826,42","638428,09",NaN
25532,315460610000135,3,Região Sudeste,31,Minas Gerais,3107,Metropolitana de Belo Horizonte,31030,Belo Horizonte,16,...,"1,88","748,22","149717,7","775,27","133973,12","433,78","176868,39","683,13","107784,51",NaN

In [6]:
ibge_data.shape

(32564, 34)

In [7]:
ibge_data.columns

Index(['Cod_setor', 'Cod_Grandes Regiões', 'Nome_Grande_Regiao', 'Cod_UF',
       'Nome_da_UF ', 'Cod_meso', 'Nome_da_meso', 'Cod_micro', 'Nome_da_micro',
       'Cod_RM', 'Nome_da_RM', 'Cod_municipio', 'Nome_do_municipio',
       'Cod_distrito', 'Nome_do_distrito', 'Cod_subdistrito',
       'Nome_do_subdistrito', 'Cod_bairro', 'Nome_do_bairro', 'Situacao_setor',
       'Tipo_setor', 'V001', 'V002', 'V003', 'V004', 'V005', 'V006', 'V007',
       'V008', 'V009', 'V010', 'V011', 'V012', 'Unnamed: 33'],
      dtype='object')

In [8]:
ibge_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32564 entries, 0 to 32563
Data columns (total 34 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Cod_setor            32564 non-null  int64
 1   Cod_Grandes Regiões  32564 non-null  int64
 2   Nome_Grande_Regiao   32564 non-null  object
 3   Cod_UF               32564 non-null  int64
 4   Nome_da_UF           32564 non-null  object
 5   Cod_meso             32564 non-null  int64
 6   Nome_da_meso         32564 non-null  object
 7   Cod_micro            32564 non-null  int64
 8   Nome_da_micro        32564 non-null  object
 9   Cod_RM               32564 non-null  int64
 10  Nome_da_RM           32564 non-null  object
 11  Cod_municipio        32564 non-null  int64
 12  Nome_do_municipio    32564 non-null  object
 13  Cod_distrito         32564 non-null  int64
 14  Nome_do_distrito     32564 non-null  object
 15  Cod_subdistrito      32564 non-null  int64
 16  Nome_do_subdistrito  32564 non-null  object
 17  Cod_bairro           32564 non-null  int64
 18  Nome_do_bairro       32564 non-null  object
 19  Situacao_setor       32564 non-null  int64
 20  Tipo_setor           32564 non-null  int64
 21  V001                 32441 non-null  float64
 22  V002                 32441 non-null  float64
 23  V003                 32441 non-null  object
 24  V004                 32441 non-null  object
 25  V005                 32441 non-null  object
 26  V006                 32441 non-null  object
 27  V007                 32436 non-null  object
 28  V008                 32436 non-null  object
 29  V009                 32564 non-null  object
 30  V010                 32564 non-null  object
 31  V011                 32545 non-null  object
 32  V012                 32545 non-null  object
 33  Unnamed: 33          0 non-null      float64
dtypes: float64(3), int64(12), object(19)
memory usage: 8.4+ MB

In [29]:
#Selecionando os dados da cidade do Rio de Janeiro
sjdr_data = ibge_data[(ibge_data['Nome_da_micro'] == 'São João del Rei') | 
                      (ibge_data['Nome_do_municipio'] == 'SÃO VICENTE DE MINAS')]

In [34]:
sjdr_data.shape

(361, 34)

# Tratando Valores missing

In [35]:
def missing_values_table(df):
        mis_val = df.isnull().sum()
        
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        
        print ("Seu dataframe tem " + str(df.shape[1]) + " colunas.\n"      
            "Há " + str(mis_val_table_ren_columns.shape[0]) +
              " colunas que possuem valores ausentes.")
        
        return mis_val_table_ren_columns

In [36]:
missing_values_table(sjdr_data)

Seu dataframe tem 34 colunas.
Há 9 colunas que possuem valores ausentes.

             Missing Values  % of Total Values
Unnamed: 33             361              100.0
V001                      2                0.6
V002                      2                0.6
V003                      2                0.6
V004                      2                0.6
V005                      2                0.6
V006                      2                0.6
V007                      2                0.6
V008                      2                0.6

In [37]:
sjdr_data = sjdr_data.drop('Unnamed: 33', axis=1)

In [38]:
#Conversão do tipo de valor da V005
sjdr_data['V005'] = sjdr_data.V005.apply(str)
sjdr_data['V005'] = sjdr_data['V005'].apply(lambda x: str(x.replace(',', '.')))
sjdr_data['V005'] = sjdr_data.V005.replace('NaN', np.nan)
sjdr_data['V005'] = sjdr_data.V005.apply(float)

In [39]:
sjdr_data.sample(5)

,Cod_setor,Cod_Grandes Regiões,Nome_Grande_Regiao,Cod_UF,Nome_da_UF,Cod_meso,Nome_da_meso,Cod_micro,Nome_da_micro,Cod_RM,...,V003,V004,V005,V006,V007,V008,V009,V010,V011,V012
27827,316250005000069,3,Região Sudeste,31,Minas Gerais,3111,Campo das Vertentes,31058,São João del Rei,0,...,"2,74","1,54",4085.07,"20889235,36","4135,5","20938868,16","2482,47","13321422,01","3386,68","15117278,05"
28643,316530505000008,3,Região Sudeste,31,Minas Gerais,3110,Sul/Sudoeste de Minas,31055,Andrelândia,0,...,"5,47","33,5",796.38,"1949436,97","817,52","1984214,98","250,66","513893,97","312,76","622031,21"
11367,311970805000003,3,Região Sudeste,31,Minas Gerais,3111,Campo das Vertentes,31058,São João del Rei,0,...,"3,6","2,8",788.00,216470,788,216470,"487,35","199306,62","690,42","136956,63"
25891,315610605000010,3,Região Sudeste,31,Minas Gerais,3111,Campo das Vertentes,31058,São João del Rei,0,...,"2,87","1,59",500.98,"106657,84","541,06","93399,84","319,52","104172,28","484,78","77821,82"
18396,313740305000016,3,Região Sudeste,31,Minas Gerais,3111,Campo das Vertentes,31058,São João del Rei,0,...,"3,69","2,74",539.99,"156137,36","609,99","133539,63","347,22","140971,11","550,25","111600,69"

In [40]:
#Criando a coluna classe para classificar os setores sensitários de acordo com sua renda
def classe(i):
    if i <= 510:
        return 1
    elif i <= 1020:
        return 2
    elif i <= 1530:
        return 3
    elif i <= 2550:
        return 4
    elif i <= 5100:
        return 5
    elif i <= 10200:
        return 6
    elif i > 10200:
        return 7

sjdr_data['classe'] = sjdr_data['V005'].map(classe)
sjdr_data = sjdr_data.sort_values(['classe'])

In [41]:
#Contabilizando os setores censitários por classe
sjdr_data['classe'].value_counts(dropna=True)

2.0    220
3.0     72
4.0     32
1.0     22
5.0     12
6.0      1
Name: classe, dtype: int64

In [42]:
#Conversão para csv
sjdr_data.to_csv('/home/gustavo/Desktop/Mestrado/mestrado_dados/ibge/sjdr_data.csv')

In [43]:
missing_values_table(sjdr_data)

Seu dataframe tem 34 colunas.
Há 9 colunas que possuem valores ausentes.

        Missing Values  % of Total Values
V001                 2                0.6
V002                 2                0.6
V003                 2                0.6
V004                 2                0.6
V005                 2                0.6
V006                 2                0.6
V007                 2                0.6
V008                 2                0.6
classe               2                0.6

In [44]:
#Agrupando os valores por subdistrito e calculando a média do ganho
#dos setores censitários que constam no subdistrito
cities_data = pd.DataFrame(sjdr_data.groupby('Nome_do_municipio')['V005'].mean())

In [45]:
#atribuindo a classe de acordo com rendimento
cities_data['classe'] = cities_data['V005'].map(classe)

In [46]:
cities_data

                                    V005  classe
Nome_do_municipio
CONCEIÇÃO DA BARRA DE MINAS   801.815000       2
CORONEL XAVIER CHAVES         836.657778       2
DORES DE CAMPOS               796.102353       2
LAGOA DOURADA                 917.415789       2
MADRE DE DEUS DE MINAS        809.078333       2
NAZARENO                      778.055000       2
PIEDADE DO RIO GRANDE         759.075625       2
PRADOS                        782.115000       2
RESENDE COSTA                 905.867826       2
RITÁPOLIS                     716.333846       2
SANTA CRUZ DE MINAS           805.621111       2
SANTANA DO GARAMBÉU           765.955000       2
SÃO JOÃO DEL REI             1259.484583       3
SÃO TIAGO                     809.130000       2
SÃO VICENTE DE MINAS          998.187273       2
TIRADENTES                   1427.409500       3

In [49]:
cities_data.to_csv('/home/gustavo/Desktop/Mestrado/mestrado_dados/ibge/sjdr_data_grouped_of_class.csv')