In [2]:
import networkx as nx
import matplotlib.pyplot as plt
import pandas as pd

In [18]:
path = '/home/gustavo/Desktop/Mestrado/mestrado_dados/Redes/'
file = 'sjdr_social_undirected_no_null_outdegree.gml'
G = nx.read_gml(path + file)
nodes_list = list(G.nodes(data=True))

In [21]:
df = pd.read_csv('/home/gustavo/Desktop/Mestrado/mestrado_dados/Regiao_Presumida/df_classe.csv')
#df[df['USER'] == '05AC98D91ED3C2821F53519B19CCBC58']
#len(df['USER'].unique())
df = df.groupby(['USER']).first().reset_index()

                                   USER PRESUMED_RESIDENCE  CLASSE
0      00003F26576D1122848B6F3CEEC250E5              SJDR5       3
1      000579E8BA1DA9E5292392473BCCCD2A                LD1       2
2      0008962B966EF6C5571DF03F5C786677              SJDR2       3
3      0008B7FB336065A53EC31AD06D712E28                 RT       2
4      0008B8E32E18BF4450B7CAAF0C1CE179              SJDR1       3
...                                 ...                ...     ...
59780  FFFA3339BA362F788F81DF22F3F7B6BA                MDM       2
59781  FFFDA183352D8DD3AC2913B09BD4174F              SJDR4       3
59782  FFFDBC5EE75F3127C262488987D6F99D              SJDR1       3
59783  FFFE9C91DE90C5CA962FE90319E8D620              SJDR4       3
59784  FFFF6761884073022FB5DFE1B6F54DE3                 RT       2

[59785 rows x 3 columns]

In [ ]:
df_merge = df['USER'].isin(nodes_list)
df_merge

In [28]:
df = pd.DataFrame({'USER': ['5B5F2C071D12AF13219DF5EBE05132AF', '9FB3B96B6D5E16C9DD564AA3E84F1954',
                           'B3299B0E587D7275E3E4D530E9EECF50', '6432F1DF21BA38368D9A165C739EEBB3',
                           '85D5C50A6D882CA8E4BB00BCA3574417', '85D5C50A6D882CA8E4BB00BCA3574417'],
                 'CLASSE': [3,3,2,2,1,1]})
df

                               USER  CLASSE
0  5B5F2C071D12AF13219DF5EBE05132AF       3
1  9FB3B96B6D5E16C9DD564AA3E84F1954       3
2  B3299B0E587D7275E3E4D530E9EECF50       2
3  6432F1DF21BA38368D9A165C739EEBB3       2
4  85D5C50A6D882CA8E4BB00BCA3574417       1
5  85D5C50A6D882CA8E4BB00BCA3574417       1

In [ ]:
plt.figure(figsize=(20,20))
pos = nx.spring_layout(G, k = 0.9)  

nx.draw_networkx_nodes(G, pos, nodelist = G.nodes, node_color='#bfbf7f', node_shape="h", node_size=300)
nx.draw_networkx_edges(G, pos, alpha=0.2)
plt.show()