In [67]:
import networkx as nx
import matplotlib.pyplot as plt
import pandas as pd

In [85]:
path = '/home/gustavo/Desktop/Mestrado/mestrado_dados/Redes/'
file = 'sjdr_social_undirected_no_null_outdegree.gml'
G = nx.read_gml(path + file)
nodes_list = list(G.nodes(data=True))

In [176]:
x = 0
nodes_id = []
while x < len(nodes_list):
    nodes_id.append(nodes_list[x][0])
    x += 1

In [72]:
def classe_sjdr(i):
    if (i.startswith('SJDR')) | (i.startswith('TR')):
        return 3
    else:
        return 2

In [30]:
df = pd.read_csv('/home/gustavo/Desktop/Mestrado/mestrado_dados/dados_18.11/df_main.csv', index_col=False)
df.drop(columns={'Unnamed: 0', 'ANTENNA_ID'}, inplace=True)
df = df.groupby(['USER']).first().reset_index()
df['CLASS'] = df['PRESUMED_RESIDENCE'].map(classe_sjdr)
df

                                   USER PRESUMED_RESIDENCE  CLASS
0      00003F26576D1122848B6F3CEEC250E5              SJDR5      3
1      000579E8BA1DA9E5292392473BCCCD2A                LD1      2
2      0008962B966EF6C5571DF03F5C786677              SJDR2      3
3      0008B7FB336065A53EC31AD06D712E28                 RT      2
4      0008B8E32E18BF4450B7CAAF0C1CE179              SJDR1      3
...                                 ...                ...    ...
59785  FFFA3339BA362F788F81DF22F3F7B6BA                MDM      2
59786  FFFDA183352D8DD3AC2913B09BD4174F              SJDR4      3
59787  FFFDBC5EE75F3127C262488987D6F99D              SJDR1      3
59788  FFFE9C91DE90C5CA962FE90319E8D620              SJDR4      3
59789  FFFF6761884073022FB5DFE1B6F54DE3                 RT      2

[59790 rows x 3 columns]

In [47]:
df_merge = df[df['USER'].isin(nodes_id)]
df_merge = df_merge[['USER', 'CLASS']]
df_merge

In [88]:
dict_user_class = df_merge.set_index('USER').T.to_dict('records')

                                   USER  CLASS
0      00003F26576D1122848B6F3CEEC250E5      3
1      000579E8BA1DA9E5292392473BCCCD2A      2
2      0008962B966EF6C5571DF03F5C786677      3
3      0008B7FB336065A53EC31AD06D712E28      2
4      0008B8E32E18BF4450B7CAAF0C1CE179      3
...                                 ...    ...
59785  FFFA3339BA362F788F81DF22F3F7B6BA      2
59786  FFFDA183352D8DD3AC2913B09BD4174F      3
59787  FFFDBC5EE75F3127C262488987D6F99D      3
59788  FFFE9C91DE90C5CA962FE90319E8D620      3
59789  FFFF6761884073022FB5DFE1B6F54DE3      2

[54394 rows x 2 columns]

In [153]:
for i in G.nodes:
    for j in dict_user_class.keys():
        if i == j:
            G.nodes[i]['class'] = dict_user_class.get(j)

In [174]:
for n in G.edges:
    G.edges[(n)]['numcalls'] = G.edges[(n)]['num_calls']
    del G.edges[n]['num_calls']
nx.write_gml(G,'/home/gustavo/Desktop/Mestrado/mestrado_dados/Redes/sjdr_social_undirected_no_null_outdegree_with_class.gml')

161947