In [1]:
import networkx as nx
import matplotlib.pyplot as plt
import pandas as pd

G = nx.read_gml(path)
list(G.nodes(data=True))

In [11]:
path = '/home/gustavo/Desktop/Mestrado/mestrado_dados/Redes/'
file = 'Teste.gml'
G = nx.read_gml(path)
list(G.nodes(data=True))

NodeView(('5B5F2C071D12AF13219DF5EBE05132AF', '9FB3B96B6D5E16C9DD564AA3E84F1954', 'B3299B0E587D7275E3E4D530E9EECF50', '6432F1DF21BA38368D9A165C739EEBB3', '85D5C50A6D882CA8E4BB00BCA3574417', '0D8583F810B9720A8032BB939F12B3FF', '6C10A9E9F325CAA3CCB7F9A0D6983D2A', 'B0C50ED1DEC9E06E4C64E7419DDC4B09'))

In [22]:
list(G.nodes(data=True))

[('5B5F2C071D12AF13219DF5EBE05132AF', {}),
 ('9FB3B96B6D5E16C9DD564AA3E84F1954', {}),
 ('B3299B0E587D7275E3E4D530E9EECF50', {}),
 ('6432F1DF21BA38368D9A165C739EEBB3', {}),
 ('85D5C50A6D882CA8E4BB00BCA3574417', {}),
 ('0D8583F810B9720A8032BB939F12B3FF', {}),
 ('6C10A9E9F325CAA3CCB7F9A0D6983D2A', {}),
 ('B0C50ED1DEC9E06E4C64E7419DDC4B09', {})]

In [24]:
df = pd.read_csv('/home/gustavo/Desktop/Mestrado/mestrado_dados/Regiao_Presumida/df_classe.csv')
df

                                    USER PRESUMED_RESIDENCE  CLASSE
0       00003F26576D1122848B6F3CEEC250E5              SJDR5       3
1       00003F26576D1122848B6F3CEEC250E5              SJDR5       3
2       00003F26576D1122848B6F3CEEC250E5              SJDR5       3
3       00003F26576D1122848B6F3CEEC250E5              SJDR5       3
4       00003F26576D1122848B6F3CEEC250E5              SJDR5       3
...                                  ...                ...     ...
543582  961F5624F792A928EFB233D7B1C209EB              SJDR2       3
543583  A0D64E03A02404038732C736B339D714              SJDR2       3
543584  C51D1AB1F2F548501270065FCF73899D              SJDR2       3
543585  C51D1AB1F2F548501270065FCF73899D              SJDR2       3
543586  F9C01A710FAD8F1BC9A83C79C42F611A              SJDR2       3

[543587 rows x 3 columns]

In [28]:
df = pd.DataFrame({'USER': ['5B5F2C071D12AF13219DF5EBE05132AF', '9FB3B96B6D5E16C9DD564AA3E84F1954',
                           'B3299B0E587D7275E3E4D530E9EECF50', '6432F1DF21BA38368D9A165C739EEBB3',
                           '85D5C50A6D882CA8E4BB00BCA3574417', '85D5C50A6D882CA8E4BB00BCA3574417'],
                 'CLASSE': [3,3,2,2,1,1]})
df

                               USER  CLASSE
0  5B5F2C071D12AF13219DF5EBE05132AF       3
1  9FB3B96B6D5E16C9DD564AA3E84F1954       3
2  B3299B0E587D7275E3E4D530E9EECF50       2
3  6432F1DF21BA38368D9A165C739EEBB3       2
4  85D5C50A6D882CA8E4BB00BCA3574417       1
5  85D5C50A6D882CA8E4BB00BCA3574417       1

In [ ]:
plt.figure(figsize=(20,20))
pos = nx.spring_layout(G, k = 0.9)  

nx.draw_networkx_nodes(G, pos, nodelist = G.nodes, node_color='#bfbf7f', node_shape="h", node_size=300)
nx.draw_networkx_edges(G, pos, alpha=0.2)
plt.show()