In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'USER':[1,2,3,1,1,2],
                   'ANTENNA_ID': ['SJDR1', 'LD', 'LD', 'LD', 'TR', 'SVM']})


df2 = pd.DataFrame({'USER': [1,2,3,4,5],
                    'PRESUMED_RESIDENCE': ['SJDR1', 'LD', 'LD', 'TR', 'SVM']})

In [2]:
merged = pd.merge(df, df2, left_on='USER', right_on='USER')
merged

   USER ANTENNA_ID PRESUMED_RESIDENCE
0     1      SJDR1              SJDR1
1     1         LD              SJDR1
2     1         TR              SJDR1
3     2         LD                 LD
4     2        SVM                 LD
5     3         LD                 LD

In [7]:
grouped = merged.groupby('USER').agg({'PRESUMED_RESIDENCE': min, 'ANTENNA_ID':list}).reset_index()
grouped

   USER PRESUMED_RESIDENCE       ANTENNA_ID
0     1              SJDR1  [SJDR1, LD, TR]
1     2                 LD        [LD, SVM]
2     3                 LD             [LD]

In [18]:
df['CITY_IDS'] = np.nan
for i in range(len(df['ID_ANTENNA'])):
    for j in range(len(df2['ID_ANTENNA'])):
        val=map(int,df2['ID_ANTENNA'][j].split(','))
        if df['ID_ANTENNA'][i] in val:
            df['CITY_IDS'].iloc[i]=df2['CITY_IDS'][j]

/home/gustavo/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [19]:
df

   ID_ANTENNA        LAT       LONG CITY_IDS
0           1  -21.12699  -44.26144    SJDR1
1           2  -21.12699  -44.26144    SJDR1
2           3  -21.48194  -44.33039       LD
3           4  -21.12699  -44.21979      SVM
4           5  -21.11886  -44.16478       TR

In [15]:
city_ids = ['SJDR1', 'LD', 'SVM', 'TR']
sjdr = [1,2]
ld = [3]
svm = [4]
tr = [5]
df2 = pd.DataFrame({'ID_ANTENNA':[sjdr, ld, svm, tr], 'CITY_IDS':city_ids})
df2['ID_ANTENNA'] = df2['ID_ANTENNA'].astype(str)
df2['ID_ANTENNA'] = df2['ID_ANTENNA'].str.replace('[','')
df2['ID_ANTENNA'] = df2['ID_ANTENNA'].str.replace(']','')

  ID_ANTENNA CITY_IDS
0       1, 2    SJDR1
1          3       LD
2          4      SVM
3          5       TR