In [1]:
import csv 
import pandas as pd
import dask.dataframe as dd

filename = '/home/gustavo/Desktop/Mestrado/mestrado_dados/dados_18.11/cdr/cdr_regiao_imediata_jf_all.txt'

cdr = dd.read_csv(filename, delimiter=';')

In [2]:
cdr_new = cdr[cdr['duration'].between(0.07,120)]

In [20]:
len(cdr)

63588995

In [21]:
len(cdr_new)

62897353

In [3]:
cdr_new

Dask DataFrame Structure:
                   date    time duration ddd_from user_from ddd_to user_to antenna unknown1 type_code type_desc hold_from hold_to type_call_desc type_call_code
npartitions=140
                 object  object  float64    int64    object  int64  object   int64  float64     int64    object    object  object         object          int64
                    ...     ...      ...      ...       ...    ...     ...     ...      ...       ...       ...       ...     ...            ...            ...
...                 ...     ...      ...      ...       ...    ...     ...     ...      ...       ...       ...       ...     ...            ...            ...
                    ...     ...      ...      ...       ...    ...     ...     ...      ...       ...       ...       ...     ...            ...            ...
                    ...     ...      ...      ...       ...    ...     ...     ...      ...       ...       ...       ...     ...            ...            ...
Dask Name: getitem, 840 tasks

In [6]:
#Selecionando os usuários com o número de ligações entre 3 e 500
cdr_filter_by_quantity_of_call = cdr_new.groupby('user_from').size().reset_index().rename(columns={0:'quantity_of_calls'})

cdr_filter_by_quantity_of_call = cdr_filter_by_quantity_of_call.loc[(
                                (cdr_filter_by_quantity_of_call['quantity_of_calls'] >= 3) 
                                & (cdr_filter_by_quantity_of_call['quantity_of_calls'] <= 500))]

cdr_filter_by_quantity_of_call.head()

                          user_from  quantity_of_calls
0  00008F35ECDA3AF85A28773C8952E5EF                 28
1  0001282B32898C53C7C7530842B23E1E                139
2  0001CE38D526EB5D2A10A4B3CDD7E0C7                 41
3  000623026BFB43C1D523BD8419FCCBF8                 18
4  000633F9F4334E670C232C8FB2CB0965                191

In [ ]:
cdr_filter_by_quantity_of_days = cdr_new.groupby('user_from').date.nunique().to_frame('quantity_of_days').reset_index()
cdr_filter_by_quantity_of_days = cdr_filter_by_quantity_of_days.loc[(cdr_filter_by_quantity_of_days['quantity_of_days'] >= 3)]
cdr_filter_by_quantity_of_days.head()