In [1]:
import pandas as pd

In [24]:
df = pd.read_csv('/home/gustavo/Desktop/Mestrado/mestrado_dados/dados_18.11/df_main.csv', index_col=False)
df.drop(columns={'Unnamed: 0'}, inplace=True)

In [20]:
def classe_sjdr(i):
    if (i.startswith('SJDR')) | (i.startswith('TR')):
        return 3
    else:
        return 2

In [25]:
df['CLASS'] = df['PRESUMED_RESIDENCE'].map(classe_sjdr)
df

                                    USER ANTENNA_ID PRESUMED_RESIDENCE  CLASS
0       00003F26576D1122848B6F3CEEC250E5      SJDR5              SJDR5      3
1       00003F26576D1122848B6F3CEEC250E5      SJDR5              SJDR5      3
2       00003F26576D1122848B6F3CEEC250E5      SJDR5              SJDR5      3
3       00003F26576D1122848B6F3CEEC250E5      SJDR5              SJDR5      3
4       00003F26576D1122848B6F3CEEC250E5      SJDR5              SJDR5      3
...                                  ...        ...                ...    ...
543587  FFFF6761884073022FB5DFE1B6F54DE3         RT                 RT      2
543588  FFFF6761884073022FB5DFE1B6F54DE3         RT                 RT      2
543589  FFFF6761884073022FB5DFE1B6F54DE3         RT                 RT      2
543590  FFFF6761884073022FB5DFE1B6F54DE3         RT                 RT      2
543591  FFFF6761884073022FB5DFE1B6F54DE3         RT                 RT      2

[543592 rows x 4 columns]

In [26]:
pd.crosstab(df.USER, df.ANTENNA_ID)

ANTENNA_ID,LD1,MDM,RT,SJDR1,SJDR2,SJDR3,SJDR4,SJDR5,ST,SVM,TR1,TR2
USER,,,,,,,,,,,,
00003F26576D1122848B6F3CEEC250E5,0,0,0,0,0,0,0,5,0,0,0,0
000579E8BA1DA9E5292392473BCCCD2A,7,0,0,0,0,0,0,0,0,0,0,0
0008962B966EF6C5571DF03F5C786677,0,0,0,0,10,0,0,0,0,0,0,0
0008B7FB336065A53EC31AD06D712E28,0,0,8,0,0,0,0,0,0,0,0,0
0008B8E32E18BF4450B7CAAF0C1CE179,0,0,0,9,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
FFFA3339BA362F788F81DF22F3F7B6BA,0,7,0,0,0,0,0,0,0,0,0,0
FFFDA183352D8DD3AC2913B09BD4174F,0,0,0,0,0,0,6,0,0,0,0,0
FFFDBC5EE75F3127C262488987D6F99D,0,0,0,9,0,0,0,0,0,0,0,0
FFFE9C91DE90C5CA962FE90319E8D620,0,0,0,0,0,0,28,0,0,0,0,0
FFFF6761884073022FB5DFE1B6F54DE3,0,0,14,0,0,0,0,0,0,0,0,0

In [27]:
df_main = pd.read_csv('/home/gustavo/Desktop/Mestrado/mestrado_dados/dados_18.11/cdr_after_filtes.csv')
df_main

,Unnamed: 0,DATE,HOUR,DURATION,DDD_USER_FROM,USER_FROM,DDD_USER_TO,USER_TO,ANTENNA,8,9,10,11,12,13,14,DAY_OF_WEEK
0,0,2013-03-21,11:51:30,0.37,32,5B5F2C071D12AF13219DF5EBE05132AF,32,9FB3B96B6D5E16C9DD564AA3E84F1954,50141,NaN,117,LOCAL,OI,OI,PRE PAGO,300000533,Thursday
1,1,2013-03-21,21:03:30,0.13,61,B3299B0E587D7275E3E4D530E9EECF50,98,6432F1DF21BA38368D9A165C739EEBB3,51601,NaN,195,LONGA DISTANCIA,BRT,OI,PRE PAGO,300000210,Thursday
2,2,2013-03-21,17:33:20,0.33,61,85D5C50A6D882CA8E4BB00BCA3574417,61,0D8583F810B9720A8032BB939F12B3FF,51601,NaN,117,LOCAL,BRT,BRT,PRE PAGO,300000210,Thursday
3,3,2013-03-21,11:58:26,1.27,61,6C10A9E9F325CAA3CCB7F9A0D6983D2A,61,B0C50ED1DEC9E06E4C64E7419DDC4B09,51601,NaN,117,LOCAL,BRT,BRT,PRE PAGO,300000210,Thursday
4,4,2013-03-21,16:06:59,0.17,61,29122DCF4189448865B03F24C2DFEAE6,61,E0B097D86BF9C02A23011610EBAF47FD,51601,NaN,77,LOCAL,BRT,GVT,PRE PAGO,300000210,Thursday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8399063,9293311,2013-04-19,14:51:18,1.10,32,88407A1D70978E30C7EABBAEAB1AAC70,32,B6489911B08BC46BE4961AE216AEC568,23461,NaN,77,LOCAL,OI,TNL,POS PAGO,300000292,Friday
8399064,9293312,2013-04-19,12:32:44,0.67,82,B97BACF4DACB5EC2C85D387FC67866BB,82,C438210ABEE57B97AEAB00958919CF3F,23441,NaN,117,LOCAL,OI,OI,PRE PAGO,300000210,Friday
8399065,9293313,2013-04-19,22:29:57,6.28,82,06D5FF5901283A69AD23C295D3E24EFB,82,1029D7F81B2BCE9812F20CBE5A01599E,23451,NaN,117,LOCAL,OI,OI,PRE PAGO,300000533,Friday
8399066,9293314,2013-04-19,01:56:58,1.58,82,7670BF3A1F8C74B01779DDA73554BC8D,82,94253ECA00D72C7FBF8C6706192CF3F8,23451,NaN,117,LOCAL,OI,OI,PRE PAGO,300000210,Friday
8399067,9293315,2013-04-19,21:29:30,0.52,84,DFE77D3B1B427F9CBBAF0A881FE77D02,84,6E63698755FC8FCA40FE5AB8FAB7C1D0,60761,NaN,117,LOCAL,OI,OI,PRE PAGO,300000210,Friday