In [3]:
import pandas as pd
import scipy.spatial.distance as ssd
import numpy as np

df = pd.DataFrame({'SJDR': [2,3,7,8,0,0], 'TR': [0,0,0,1,1,3], 'BSO': [1,1,2,0,1,1], 'CLASS': [2,2,1,3,1,3]})
df

In [11]:
df = pd.DataFrame({'SJDR': [2,3,7,8,0,0], 'TR': [0,0,0,1,1,3], 'BSO': [1,1,2,0,1,1], 'CLASS': [2,2,1,3,1,3]})
df

   SJDR  TR  BSO  CLASS
0     2   0    1      2
1     3   0    1      2
2     7   0    2      1
3     8   1    0      3
4     0   1    1      1
5     0   3    1      3

In [10]:
x = 1 - ssd.cosine(df.iloc[0].to_numpy(), df.iloc[1].to_numpy())
x

0.9799578870122228

In [9]:
df.iloc[0].to_numpy()

array([2, 0, 1, 2])