In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'USER':[1,2,3,1,1,2],
                   'ANTENNA_ID': ['SJDR1', 'LD', 'LD', 'LD', 'TR', 'SVM']})


df2 = pd.DataFrame({'USER': [1,2,3,4,5],
                    'PRESUMED_RESIDENCE': ['SJDR1', 'LD', 'LD', 'TR', 'SVM']})

In [2]:
merged = pd.merge(df, df2, left_on='USER', right_on='USER')

grouped = merged.groupby('USER').agg({'PRESUMED_RESIDENCE': min, 'ANTENNA_ID':list}).reset_index()
grouped

   USER PRESUMED_RESIDENCE       ANTENNA_ID
0     1              SJDR1  [SJDR1, LD, TR]
1     2                 LD        [LD, SVM]
2     3                 LD             [LD]

In [8]:
merged

   USER ANTENNA_ID PRESUMED_RESIDENCE
0     1      SJDR1              SJDR1
1     1         LD              SJDR1
2     1         TR              SJDR1
3     2         LD                 LD
4     2        SVM                 LD
5     3         LD                 LD

In [3]:
grouped = merged.groupby('USER').agg({'PRESUMED_RESIDENCE': min, 'ANTENNA_ID':list}).reset_index()
grouped

   USER PRESUMED_RESIDENCE       ANTENNA_ID
0     1              SJDR1  [SJDR1, LD, TR]
1     2                 LD        [LD, SVM]
2     3                 LD             [LD]

In [4]:
grouped['ANTENNA_ID'] = [[z for z in x if z!=y]
                         for x,y in zip(grouped['ANTENNA_ID'],
                                       grouped['PRESUMED_RESIDENCE'])]

grouped

   USER PRESUMED_RESIDENCE ANTENNA_ID
0     1              SJDR1   [LD, TR]
1     2                 LD      [SVM]
2     3                 LD         []

In [7]:
import pandas as pd

d = {0: {50: 16, 23: 7, 22: 7, 5: 1, 31: 10, 47: 15, 2: 0, 44: 14, 39: 13, 21: 7, 11: 3, 30: 10, 16: 5, 42: 14, 26: 8, 1: 0, 40: 13, 32: 10, 34: 11, 46: 15, 49: 16, 15: 5, 37: 12, 9: 3, 12: 4, 41: 13, 24: 8, 10: 3, 18: 6, 8: 2, 33: 11, 35: 11, 0: 0, 36: 12, 27: 9, 48: 16, 38: 12, 7: 2, 28: 9, 3: 1, 29: 9, 43: 14, 4: 1, 45: 15, 17: 5, 14: 4, 13: 4, 19: 6, 25: 8, 20: 6, 6: 2}, 1: {50: 2, 23: 2, 22: 1, 5: 2, 31: 1, 47: 2, 2: 2, 44: 2, 39: 0, 21: 0, 11: 2, 30: 0, 16: 1, 42: 0, 26: 2, 1: 1, 40: 1, 32: 2, 34: 1, 46: 1, 49: 1, 15: 0, 37: 1, 9: 0, 12: 0, 41: 2, 24: 0, 10: 1, 18: 0, 8: 2, 33: 0, 35: 2, 0: 0, 36: 0, 27: 0, 48: 0, 38: 2, 7: 1, 28: 1, 3: 0, 29: 2, 43: 1, 4: 1, 45: 0, 17: 2, 14: 2, 13: 1, 19: 1, 25: 1, 20: 2, 6: 0}, 2: {50: 32, 23: 32, 22: 32, 5: 32, 31: 32, 47: 32, 2: 32, 44: 33, 39: 46, 21: 64, 11: 97, 30: 97, 16: 97, 42: 99, 26: 99, 1: 99, 40: 99, 32: 100, 34: 100, 46: 100, 49: 101, 15: 101, 37: 101, 9: 101, 12: 102, 41: 103, 24: 103, 10: 103, 18: 103, 8: 104, 33: 105, 35: 105, 0: 106, 36: 108, 27: 109, 48: 109, 38: 110, 7: 110, 28: 111, 3: 111, 29: 111, 43: 111, 4: 111, 45: 111, 17: 112, 14: 112, 13: 114, 19: 116, 25: 116, 20: 121, 6: 122}}
print (pd.DataFrame(d).pivot(0,1,2).applymap(chr).agg(''.join))

1
0    jozefeg@gmail.com
1    congrat to decode
2      happy coding!
dtype: object