In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('/home/gustavo/Desktop/Mestrado/mestrado_dados/ibge/jf_data_grouped_of_class.csv')
df.head()

         Cod_setor     V005  classe
0  310280305000001  1063.68     3.0
1  310280305000002  1197.96     3.0
2  310280305000003   694.84     2.0
3  310280305000004   395.83     1.0
4  310280305000005  1021.89     3.0

In [5]:
df_info = pd.read_csv('/home/gustavo/Desktop/Mestrado/mestrado_dados/ibge/info_setores_antennas_jf.csv', sep=';')
df_info.rename(columns={'setor': 'Cod_setor'}, inplace=True)
df = pd.merge(df, df_info, on='Cod_setor')
df.head()

         Cod_setor     V005  classe  closest_antenna  distance_antenna
0  310280305000001  1063.68     3.0            27871         55.499169
1  310280305000002  1197.96     3.0            27871         54.819443
2  310280305000003   694.84     2.0            27871         54.596006
3  310280305000004   395.83     1.0            27871         54.132897
4  310280305000005  1021.89     3.0            27871         53.181793

In [9]:
df_main = pd.read_csv('/home/gustavo/Desktop/Mestrado/mestrado_dados/dados_18.11/df_main_jf.csv', index_col=False, sep=';')
df_main.head()

                          user_from  antenna  classe
0  B26DDDE6EFADA99CF30B4F49CA4A349D    51594     5.0
1  B26DDDE6EFADA99CF30B4F49CA4A349D    51594     5.0
2  B26DDDE6EFADA99CF30B4F49CA4A349D    51594     6.0
3  B26DDDE6EFADA99CF30B4F49CA4A349D    51594     5.0
4  B26DDDE6EFADA99CF30B4F49CA4A349D    51594     5.0

In [12]:
df_main[df_main['user_from'] == 'A0A23E6730B4BA2F5A8584D08715D327']

                                user_from  antenna  classe
223776   A0A23E6730B4BA2F5A8584D08715D327    50721     2.0
223777   A0A23E6730B4BA2F5A8584D08715D327    50721     2.0
223778   A0A23E6730B4BA2F5A8584D08715D327    50721     1.0
223779   A0A23E6730B4BA2F5A8584D08715D327    50721     1.0
223780   A0A23E6730B4BA2F5A8584D08715D327    50721     4.0
...                                   ...      ...     ...
2310343  A0A23E6730B4BA2F5A8584D08715D327    51133     2.0
2310344  A0A23E6730B4BA2F5A8584D08715D327    51133     2.0
2310345  A0A23E6730B4BA2F5A8584D08715D327    51133     1.0
2310346  A0A23E6730B4BA2F5A8584D08715D327    51133     1.0
2310347  A0A23E6730B4BA2F5A8584D08715D327    51133     1.0

[1397 rows x 3 columns]