In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('/home/gustavo/Desktop/Mestrado/mestrado_dados/ibge/sjdr_data_grouped_of_class.csv')
df.head()

         Cod_setor     V005  classe
0  311520105000001  1177.29     3.0
1  311520105000002   886.16     2.0
2  311520105000003  1020.75     3.0
3  311520105000004   382.49     1.0
4  311520105000005  1012.74     2.0

In [7]:
df_info = pd.read_csv('/home/gustavo/Desktop/Mestrado/mestrado_dados/ibge/info_setores_antennas_sjdr.csv', sep=';')
df_info.rename(columns={'setor': 'Cod_setor'}, inplace=True)
df = pd.merge(df, df_info, on='Cod_setor')
df.head()

         Cod_setor     V005  classe  closest_antenna  distance_antenna
0  311520105000001  1177.29     3.0            51603         19.952234
1  311520105000002   886.16     2.0            51603         19.923082
2  311520105000003  1020.75     3.0            51603         18.906755
3  311520105000004   382.49     1.0            51603         19.562769
4  311520105000005  1012.74     2.0            51603         19.894224

In [8]:
df.to_csv('/home/gustavo/Desktop/Mestrado/mestrado_dados/ibge/Sector_Class.csv')